@import url('https://fonts.googleapis.com/css2?family=Poppins&family=REM&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: 'REM', sans-serif;
}
nav{
        padding: 1.5rem 0;
        border-bottom: 1.5px solid lightgray;
}
.nav__title{
    font-size: 2rem;
    text-align: center;
    
}

/* Hide the form initially */
.hidden {
    display: none;
  }
  
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #888;
    width: 400px;
  }
  ul{
    list-style-type: none;
  }
  .project-title{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .app-container{
    display: flex;
    height: 100vh;
  }
  .left-panel{
    width: 350px;
    padding: 2rem;
  }
  .right-panel{
    flex: 1;
    padding: 2rem;
    background-color: whitesmoke;
  }
  button{
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    margin: 2px;    
    border: 2px solid grey ;
    outline: none;
  }